* {
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    padding: 0px;
}

/* bienvenida__saludo */
/* Menu Hamburguesa */
.menu-hamburguesa {
    border: solid;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #141414;

    display: none;
}

/* .menu-hamburguesa__container{
    
} */


/* bienvenida__saludo */

/* Presentacion */
.presentacion {
    width: auto;
    height: 538px;
    padding: 32px;
    background-color: #141414;
    color: #fafafa;
    padding: 32px;
    
}

@media (min-width: 768px) {
    .presentacion {
        height: auto;
        padding: 32px;
        background-color: #FFFFFF;
        color: #2C2C2C;
        
        display: flex;
        flex-direction: row;
    }
}

.presentacion__imagen {
    display: none;
    
}

@media (min-width: 768px) {
    
    .presentacion__imagen {
        display: inline;
    }
}
/* .presentacion__content {
    
} */
.presentacion__content-title {
    font-family: 'Montserrat';
    font-size: 32px;
    text-align: center;
    margin: 55px auto;
}

@media (min-width: 768px) {
    .presentacion__content-title {
        text-align: left;
        
    }
}
.presentacion__content-text {
    font-family: 'Poppins';
    font-size: 16px;
    text-align: left;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .presentacion__content-text {
        font-size: 24px;
    }
}
/* Presentacion */

/* Mis Servicios */
.mis-servicios{
    margin: 0px;
    /* height: 1375px; */
    height: auto;
    width: auto;
    text-align: center;
    color: #2C2C2C;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .mis-servicios{
        /* height: 700px; */
        display: flex;
        flex-direction: column;
        
    }
}
.mis-servicios__title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mis-servicios__title-h2{
    margin-top: 70px;
    font-family: 'Montserrat';
    font-size: 32px;
}

@media (min-width: 768px) {
    .mis-servicios__title-h2{
        
        font-size: 48px;
    }
}
    
.mis-servicios__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

@media (min-width: 768px) {
    .mis-servicios__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 100px;
        align-items: center;
    }
}
.mis-servicios__content-caja{
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    /* .mis-servicios__content-caja{
        display: grid;
        column-gap: 30px;
    } */
}
.mis-servicios__content-caja-img{
    height: 128px;
    width: 138px;
}
.mis-servicios__content-caja-h3{
    font-family: 'Poppins';
    font-size: 24px;
}

.mis-servicios__content-caja-p{
    font-family: 'Poppins';
    font-size: 16px;
    padding: 10px;
}
/* Mis Servicios */



